<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Buyer/Downloads/KongaTestingNew">
    <classes>
        <class name="org.example.KongaInvalidCardPage">
            <methods><include name="PositiveLogin"/>
                <include name="findComputersandAccessories"/>
                        <include name= "LaptopsSubcategory"/>
                <include name="clickonAppleMacBook"/>
                <include name="clickaddItemtoCart"/><include name="clickaddDeliveryAddress"/><include name="clickPaymentOption"/></methods></class></classes></test></suite>